<template>
  <div id="app">
    <el-row class="container">
      <el-row>
        <el-col :span="24">
          <h1>HiGHmed Plugin: Body Temperature</h1>
        </el-col>
      </el-row>

      <el-form :model="formData"
               ref="form"
               label-width="100px"
               label-position="top">
        <el-row type="flex"
                justify="flex-start">
          <el-col :span="10">
            <el-form-item label="Patient">
              <el-input v-model="formData.patientID"
                        placeholder="Optional: PatientID"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10"
                  :offset="2">
            <el-form-item label="Example">
              <el-input v-model="formData.examplePatientID"
                        :readonly=true></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex"
                justify="flex-start">
          <el-col :span="4">
            <el-form-item label="Min. Body Temperature">
              <el-input-number v-model="formData.minTemp"
                               controls-position="right"
                               :min="30.0"
                               :max="50.0"
                               :step="0.1"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Max. Body Temperature">
              <el-input-number v-model="formData.maxTemp"
                               controls-position="right"
                               :min="30.0"
                               :max="50.0"
                               :step="0.1"></el-input-number>
            </el-form-item>
          </el-col>

        </el-row>
      </el-form>
      <el-row type="flex"
              justify="flex-start">
        <el-button type="primary"
                   @click="executeQuery()"
                   style="margin-top: 20px;">Execute!</el-button>
      </el-row>

      <el-row v-if="generic"
              type="flex"
              justify="flex-start"
              style="margin-top: 20px">
        <el-col>
          <el-tabs :stretch=true>
            <el-tab-pane label="XML"
                         name="first">
              <el-row>
                <el-col :span="24">
                  <pre v-highlightjs="xmlResult"><code class="xml"></code></pre>
                </el-col>
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="Table"
                         name="second">
              <el-row>
                <el-col :span="24">
                  <el-table :data="tableResult"
                            border
                            stripe>
                    <el-table-column prop="date"
                                     :label="'Date'">
                    </el-table-column>
                    <el-table-column prop="temp"
                                     :label="'Temperature'">
                    </el-table-column>
                  </el-table>
                </el-col>
              </el-row>
            </el-tab-pane>
            <el-tab-pane label="Graph"
                         name="third">
              <el-row>
                <el-col :span="24">
                  <line-chart :chart-data="graphResult"
                              :options="chartOptions"
                              :height="425"
                              :width="1200" />
                </el-col>
              </el-row>
            </el-tab-pane>
          </el-tabs>
        </el-col>
      </el-row>
    </el-row>

  </div>
</template>

<script>
import gql from 'graphql-tag'

import LineChart from './bodytempChart'


export default {
  name: 'highmedPluginBodyTemperature',
  middleware: [
    'authenticated'
  ],
  components: {
    LineChart
  },
  data() {
    return {
      formData: {
        patientID: '',
        examplePatientID: '6a87b944-6719-412d-a635-3910e37faab2',
        minTemp: 30.0,
        maxTemp: 50.0
      },

      skipQuery: true,
      generic: '',
      xmlResult: '',
      objectResult: null,
      chartOptions: {
        scales: {
          yAxes: [{
            display: true,
            labelString: 'Temperature',
            ticks: {
              suggestedMin: 30,
              suggestedMax: 50
            }
          }]
        },
        responsive: false
      }
    }
  },
  computed: {
    tableResult() {
      return this.objectResult.map(obj => {
        let tmp = {}
        tmp.temp = obj.temp
        let d = new Date(obj.date)
        tmp.date = ("0" + d.getDate()).slice(-2) + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" + d.getFullYear() + " " + ("0" + d.getHours())
          .slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2)
        return tmp
      })
    },
    graphResult() {
      return {
        labels: this.objectResult.map(obj => {
          let d = new Date(obj.date)
          let s = ("0" + d.getDate()).slice(-2) + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" + d.getFullYear() + " " + ("0" + d.getHours())
            .slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2)
            console.log(s);
            return s
        }),
        datasets: [
          {
            label: 'Body Temperature',
            backgroundColor: "#FED8B1",
            data: this.objectResult.map(obj => obj.temp)
          }
        ]
      }
    }
  },
  methods: {
    executeQuery() {
      this.skipQuery = false;
    },
    parseResultToObject(res) {
      let xml2js = require("xml2js");
      let parser = new xml2js.Parser();

      parser.parseString(res, function(err, result) {
        let extractedData = result["te:queryResponseData"]["te:resultSet"]["0"]["te:row"];

        let simpleObjs = extractedData.map(function(value) {
          let dateObj = value["te:column"][0]["te:value"][0];
          let tempObj = value["te:column"][1]["te:value"][0];

          let simpleObj = {
            temp: parseFloat(tempObj.magnitude),
            date: dateObj.value[0]
          };

          return simpleObj;
        });
        simpleObjs.sort(function(a,b){
          // Turn your strings into dates, and then subtract them
          // to get a value that is either negative, positive, or zero.
          return new Date(a.date) - new Date(b.date)})

        this.objectResult = simpleObjs
      }.bind(this));
    },
    parseResultToGraph() {

    }
  },

  apollo: {
    generic: {
      query: gql`query generic($args: GenericQueryArguments!) {generic(args: $args) {aqlPayload}}`,
      variables() {
        let tmp = {}

        if(this.formData.patientID) {
            tmp.patientID = this.formData.patientID
        }
        if(this.formData.minTemp && this.formData.maxTemp) {
            tmp.bodyTemperature = {
              bodyTemperatureBetween: [this.formData.minTemp, this.formData.maxTemp]
            }
        } else if(this.formData.minTemp) {
            tmp.bodyTemperature = {
              bodyTemperatureAbove: this.formData.minTemp
            }
        } else if(this.formData.maxTemp) {
            tmp.bodyTemperature = {
              bodyTemperatureBelow: this.formData.maxTemp
            }
        }

        if(!tmp.bodyTemperature) {
          this.skipQuery = true
          this.$message({
            message: 'Either a min. temperature or a max. temperature must be set.',
            type: 'error',
            duration: 2500
          });
          return
        }

        return {
          args: tmp
        }
      },
      result(result) {
        this.xmlResult = this.generic.aqlPayload
        this.parseResultToObject(this.generic.aqlPayload)
        this.skipQuery = true;
      },
      error(error) {
        this.skipQuery = true;

        this.$message({
          message: 'AQL Error: ' + error,
          type: 'error',
          duration: 5000
        });
      },
      skip() {
        return this.skipQuery;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#app {
  .container {
    h1 {
      margin-top: 0px !important;
    }
  }
}
</style>
